* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
  background: transparent;
}

.container {
  width: 100vw;
  height: 100vh;
  /* background-color: whitesmoke; */
  background: linear-gradient(to top right, red, dodgerblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.logo {
  border-radius: 50%;
  padding: 150px;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.274);
}

.logo h2 {
  font-size: 120px;
  font-weight: 800;
  color: black;
}

.container h4 {
  font-size: 28px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke; 
  flex-direction: column;
  gap: 20px;
}

.container p {
  font-size: 28px;
  color: black;
}

.container button {
  padding: 10px 25px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: 0;
}

.container button:hover {
  background-color: rgb(29, 29, 29);
  color: white;
}

/* dark and light */
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(29, 29, 29);
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: black;
  }
}
