* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 30px;
}

.sidebar .logo {
  width: 100%;
  margin-bottom: 100px;
}

.logo h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

nav a {
  padding: 15px 0;
  color: white;
  font-size: 16px;
}

.theme_toggler {
  width: 100%;
}

.theme_toggler button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(123, 122, 122);
  cursor: pointer;
}

/* dark and light */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #323232;
    color: white;
  }

  .sidebar {
    background-color: #202020ad;
  }

  .theme_toggler button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #323232;
    color: white;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: black;
  }

  .sidebar {
    background-color: #323232;
    color: black;
  }

  .theme_toggler button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
}
